<div class="col-md-8 col-md-offset-2">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Log in</h2>
      </div>
      <div class="panel-body">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-group">
            <%= f.input :email,
                        required: false,
                        autofocus: true,
                        class: "form-control",
                        input_html: { autocomplete: "email" } %>
          </div>
          <div class="form-group">
            <%= f.input :password,
                        required: false,
                        class: "form-control",
                        input_html: { autocomplete: "current-password" } %>
          </div>
          <div class="form-group">
            <%= f.label "Remember me" %>
            <%= f.check_box :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>

          <div class="form-group">
            <%= f.button :submit, "Log in", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>

      <div class="panel-footer">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
