// Place all the styles related to the Pics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#edit_page{
  .current_image {
    img{
      display: block;
      margin: 20px 0;
    }
  }
}
